{% extends "base.html" %} {% load cms_tags %} {% block content %}

<div style="border: 5px solid red; border-radius: 14px; margin: 25px; padding: 25px; text-align: center; font-size: 20pt;">
  Dit inschrijfformulier is een concept. Het is nog niet mogelijk om in te schrijven!
</div>

<h2>Vrijwilligers</h2>

<p>Bedankt dat u zich heeft aangemeld als vrijwilliger heeft aangemeld! <br />We zullen contact met u opnemen</p>

<p>
  <a href="/inschrijven/vrijwilliger">Nog een vrijwilliger opgeven</a>
</p>

<p>
  <a href="/inschrijven/overzicht">Doorgaan met de aanmelding</a>
</p>
{% endblock content %}
