{% extends "base.html" %} {% load cms_tags %} {% block content %}

<h2>Inschrijving</h2>

<div
  style="
    border: 5px solid red;
    border-radius: 14px;
    margin: 25px;
    padding: 25px;
    text-align: center;
    font-size: 20pt;
  "
>
  Dit inschrijfformulier is een concept. Het is nog niet mogelijk om in te
  schrijven!
</div>

<p>
  De betaling is niet gelukt.

  <form method="POST">
    {% csrf_token %}

    <div class="button-wrapper">
      <button type="submit" name="retry">Betaling opnieuw proberen</button>
    </div>

    <br><br>

    <div class="button-wrapper">
      <button type="submit" name="leeg">Aanmelding vanaf het begin opnieuw doen</button>
    </div>

  </form>
</p>

{% endblock content %}
