{% extends "base.html" %}
{% load cms_tags %}
{% block content %}

    <form method="POST" class="django" autocomplete="off">
        {% csrf_token %}

        {% block form_header %}{% endblock %}

        {% for field in form %}
            <p id="row_{{ field.auto_id }}">
                {{ field.errors }}
                <label for="{{ field.auto_id }}"
                       {% if field.field.required %}class="required"{% endif %}>{{ field.label }}</label>


                {{ field }}
            </p>
        {% endfor %}


        {% block form_footer %}
            <button type="submit">Opslaan</button>
        {% endblock %}
    </form>

{% endblock %}
