{% extends "base.html" %} {% load cms_tags %} {% block content %}

<h2>{{form.title}}</h2>

<p>{{form.description}}</p>

<style>
  form ul {
    margin-top: 10px;
  }
  span.required {
    font-weight: bold;
  }
  span.required::after {
    content: "*";
  }
</style>
<form method="POST" class="django" autocomplete="off">
  {% csrf_token %}

  <table>
    {% for field in form %}
    <tr>
      <th>
        {{field.errors}}
        <span class="{% if field.field.required %}required{% endif %}"
          >{{ field.label_tag}}</span
        >
      </th>
      <td>{{ field }}</td>
    </tr>
    {% endfor %}
  </table>

  <div class="button-wrapper">
    <button type="submit">Volgende</button>
  </div>
</form>
{% endblock content %}
