django-import-export
psycopg2-binary<2.8 # Issue: https://github.com/divio/django-cms/issues/6666
Django<2.2

# Django CMS
django-cms
djangocms-file
djangocms-link
djangocms-text-ckeditor
djangocms-picture
djangocms-redirect
-e git://github.com/BrazosCC/djangocms-forms#egg=djangocms-forms