backports.csv==1.0.7
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.5.0
diff-match-patch==20181111
Django==2.1.8
django-appconf==1.0.3
django-classy-tags==0.8.0
django-cms==3.6.0
django-filer==1.4.4
django-formtools==2.1
django-import-export==1.2.0
django-ipware==2.1.0
django-js-asset==1.2.2
django-mptt==0.10.0
django-polymorphic==2.0.3
django-sekizai==1.0.0
django-treebeard==4.3
djangocms-admin-style==1.4.0
djangocms-attributes-field==1.1.0
djangocms-file==2.2.0
-e git://github.com/BrazosCC/djangocms-forms@a3fb79e52a80ec630e96f4798dbf90d53697bc76#egg=djangocms_forms
djangocms-link==2.3.1
djangocms-picture==2.1.3
djangocms-redirect==0.3.0
djangocms-text-ckeditor==3.7.0
easy-thumbnails==2.6
et-xmlfile==1.0.1
hashids==1.2.0
html5lib==1.0.1
idna==2.8
jdcal==1.4
jsonfield==2.0.2
odfpy==1.4.0
openpyxl==2.6.2
Pillow==6.0.0
psycopg2-binary==2.7.7
pytz==2019.1
PyYAML==5.1
requests==2.21.0
six==1.12.0
tablib==0.13.0
Unidecode==1.0.23
urllib3==1.24.1
webencodings==0.5.1
xlrd==1.2.0
xlwt==1.3.0
